{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
<h1>Привет, меня зовут Игнат</h1>
<h3>Ниже на карточках я размещу информацию о себе</h3>

<div class="row row-cols-1 row-cols-md-2 g-4">
<div class="card-group py-3">
  <div class="card px-3" style="max-width: 540px;">
    <img src="{% static 'img/hobbie.png' %}" class="card-img-top" alt="..." height="150">
    <div class="card-body">
      <h5 class="card-title">Хобби</h5>
      <p class="card-text">Я хочу стать веб-разработчиком! Это я за компьютером 😂</p>
    </div>
  </div>
  <div class="card px-3" style="max-width: 540px;">
    <img src="{% static 'img/work.png' %}" class="card-img-top" alt="..." height="150">
    <div class="card-body">
      <h5 class="card-title">Работа</h5>
      <p class="card-text">Здесь я играю в волейбол</p>
    </div>
  </div>
  <div class="card px-3" style="max-width: 540px;">
    <img src="{% static 'img/relax.png' %}" class="card-img-top" alt="..." height="150">
    <div class="card-body">
      <h5 class="card-title">Отдых</h5>
      <p class="card-text">Это я отдыхаю в Мексике</p>
    </div>
</div>
</div>
</div>
{% endblock %} 